{{#each beers}}

<div class="beer-elements">
    <img src={{image_url}} class="beers-img" />
    <p class="name">{{name}}</p>
    <p class="tagline">{{tagline}}</p>
    <p class="description">{{description}}</p>
</div>

{{/each}}