<div class="index-container">
    <img id="beer-img" src="./images/beer.png" alt="beer image">

    <a href="/beers" class="button">Beers</a>
    <a href="/random-beer" class="button">Random Beer</a>

</div>